<div class="btn-group btn-matrix">
  <button type="button" class="btn btn-default" (click)="showEmployees()">Employees</button>
  <button type="button" class="btn btn-default">Button 2</button>
  <button type="button" class="btn btn-default">Button 3</button>
  <button type="button" class="btn btn-default">Button 4</button>
  <button type="button" class="btn btn-default">Button 5</button>
  <button type="button" class="btn btn-default">Button 6</button>
</div>

<app-table [_elements]="tableData" [_table_name]="tableName"></app-table>
