<footer class="panel-footer bg-primary text-light mt-5">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <button (click)="topFunction()" class="btn btn-secondary footer-btn">Return to the top</button>
    </div>
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 logo">
        <img src="assets/TECBoxLogo2.svg" alt="" class="mt-4">
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3 mt-3">
        <h3 class="text-uppercase">Developers</h3>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/JoDaniel1412/TECBox" class="text-light">Jose Acuna</a>
          </li>
          <li>
            <a href="https://github.com/ErickCR12"  class="text-light">Erick Barrantes</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3 mt-3">
        <h3 class="text-uppercase">Git Hubs</h3>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/JoDaniel1412/TECBox"  class="text-light">TECBox</a>
          </li>
          <li>
            <a href="https://github.com/JoDaniel1412/TECBoxService"  class="text-light">TECBoxService</a>
          </li>
          <li>
            <a href="https://github.com/JoDaniel1412/TECBoxMobile"  class="text-light">TECBoxMobile</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: TECBox
  </div>
</footer>
