
<div id="table-container" class="container">

  <h2 id="table-tittle" class="h2">{{table_name}}</h2>

  <table id="myTable" #myTable class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="tab-hover" scope="col" *ngFor="let column of columns">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr #row (click)="onElementClick(row)"  *ngFor="let element of elements">
        <td *ngFor="let key of objectKeys(element)">{{element[key]}}</td>
      </tr>
    </tbody>
  </table>

  <form id="editor" class="form-inline editor" *ngIf="show_editor">
    <div class="form-group inline-margin">
      <label>{{table_name}}: {{item_selected_id}}</label>
    </div>
    <div class="form-group">
      <button class="btn modify inline-margin">Modify</button>
      <button class="btn delete inline-margin">Delete</button>
      <button class="btn add inline-margin">Add New</button>
    </div>
  </form>
</div>
