
$blue: #00A8E8;
$red: #EF3E36;
$primary: #028090;
$secondary: #00A896;
$accent: #02C39A;
$black: #0F0A0A;
$white: #F4F4F4;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.tab-hover {
  background: $accent;
  color: $white;
}

.tab-hover:hover {
  background: $secondary;
}

.my-table-striped {
  background: rgba($secondary, .5);
}

%buttons {
  border-radius: 8px;
  color: $white;
}

%buttons:hover {
  background-color: $white;
}

.modify {
  @extend %buttons;
  background-color: $blue;
}
.modify:hover {
  color: $blue;
  border: 2px solid $blue;
}

.delete {
  @extend %buttons;
  background-color: $red;
}
.delete:hover {
  color: $red;
  border: 2px solid $red;
}

.add {
  @extend %buttons;
  background-color: $accent;
}
.add:hover {
  color: $accent;
  border: 2px solid $accent;
}

.inline-margin {
  margin-right: 20px;
}

.editor {
  margin-top: 30px;
}
