<h1>Products</h1>

<div class="productsDiv">
  <ul *ngIf="products">
    <li *ngFor="let product of products">
      <p class="name">{{ product.Name }}</p>
      <p class="description">{{ product.Description }}</p>
      <img ngSrc='{{product.img}}'>
      <p class="description">Price: ₡{{ product.Price }}</p>
      <p class="tax" *ngIf="product.Discount !== 0 && product.IVA !== 0; else altPercentage">
        {{product.Discount * 100}}% discount and {{product.IVA * 100}}% tax included.
      </p>
      <ng-template #altPercentage>
        <p class="tax" *ngIf="product.IVA !== 0"> {{product.IVA * 100}}% tax included. </p>
        <p class="tax" *ngIf="product.Discount !== 0"> {{product.Discount * 100}}% discount included. </p>
      </ng-template>
      <button class="btn btn-dark addToCartBtn" (click)="addToCart(product)">Add to Cart</button>
    </li>
  </ul>
</div>
