/* You can add global styles to this file, and also import other style files */

$primary: #028090;
$secondary: #00A896;
$accent: #02C39A;
$black: #0F0A0A;
$white: #F4F4F4;

body { font-family: 'Montserrat', sans-serif; }
